.success-snackbar {
  --mdc-snackbar-container-color: #16a34a;
  --mat-snack-bar-button-color: #dcfce7;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.error-snackbar {
  --mdc-snackbar-container-color: #dc2626;
  --mat-snack-bar-button-color: #fee2e2;
  --mdc-snackbar-supporting-text-color: #ffffff;
}
